*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	padding: 0;
	
	nav & {
		list-style: none;
		list-style-position: inside;
	}
}

table {
	thead {
		tr {
			th {
				border-bottom: 1px solid $gray;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}

	tbody {
		tr {
			td {
				border-bottom: 1px solid $gray;
  				padding: 0.5rem;
  				text-align: left;
			}
		}
	}
}

blockquote {
	margin: 2em 1em;
	
	&::before {
	   content: '\201C';
    }
	
	&::after {
	   content: '\201D';
    }
	
	p {
	    font: inherit;
	    display: inline;
	    color: inherit;
	}
}

code {
	background: $black;
	color: $white;
	padding: 0.1rem 0.25rem;
}

strong {
	font-weight: $font-weight-semibold;
}

video,
iframe {
	max-width: 100%;
}

.wysiwyg {
	a:not(.button) {
		color: $text-dark;
		text-decoration: none;
		font-weight: $font-weight-semibold;
		transition: color $default-transition-speed ease-in-out;

		&:hover,
		&:active {
			text-decoration: underline;
		}
	}

	ul,
	ol {
		padding-left: 0;
		margin-top: 0.5rem;

		li {
			margin: 0 0 0.5rem 1.5rem;

			li {
				margin-left: 1.5rem;
			}
		}
	}
}

@include dark-bg('', '') {
	&.wysiwyg,
	.wysiwyg {
		a:not(.button) {
			color: $text-light;
		}
	}
}

// Useful classes that are missing without the Foundation typography styles
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.equal-ratio {
	position: relative;
	width: 50%;

	&::before {
		content: '';
		padding-top: 100%;
		float: left;
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}
