/*************************************
Foundation Variables
-- Foundation variables reference: https://github.com/zurb/foundation-sites/blob/develop/scss/settings/_settings.scss
-- local reference can be found at: node_modules/foundation-sites/scss/settings/_settings.scss
**************************************/
$global-width: 1160px;

// create our own breakpoint variables
$medium: 641px;
$large: 1025px;
$xlarge: 1441px;
$xxlarge: 1921px;

// override default foundation breakpoints
$breakpoints: (
    small: 0,
    medium: $medium,
    large: $large,
    xlarge: $xlarge,
    xxlarge: $xxlarge,
);

// override default foundation gutter widths
$grid-column-gutter: (
    small: 40px,
    medium: 60px
);

// header height by viewport
$header-height-sm: 60px;
$header-height-md: 70px;
$header-height-lg: 80px;


/*************************************
z-index
**************************************/
$z-root: 0;
$z-header: $z-root + 10;
$z-above-all: $z-header + 10;


/*************************************
default variables
**************************************/
$default-border-radius: 6px;
$default-input-border-radius: 20px;
$default-input-min-height: 40px;
$default-transition-speed: 0.2s;
$default-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.50);

$theme-url-base: '../..';


/*************************************
Colors
**************************************/
$black:         #000000;
$blue:          #145CA1;
$red:           #98143C;
$gray:          #D4D7DA;
$white:         #ffffff;

$text-light: $white;
$text-dark: $black;

$error-text: $red;

$bg-colors: (
    white: $white,
    black: $black,
    blue: $blue,
    red: $red,
    gray: $gray
);

$bg-colors-with-light-text-classes: (
    '.block-bg-image',
    '.block-bg-video',
    '.bg-black',
    '.bg-blue',
    '.bg-red'
);

$color-twitter: #79CCF0;
$color-facebook: #547BBD;
$color-linkedin: #1385C8;

/*************************************
Typography
**************************************/
$font-arial: Arial, sans-serif;
$font-primary: $font-arial;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$body-font-size: 1.6rem;
$body-font-line-height: 1.5;
$body-font: normal normal $font-weight-regular #{$body-font-size} / #{$body-font-line-height} $font-primary;
$body-font-color: $text-dark;


/*************************************
Spacing
*************************************/
// creates the selector "<element> + *"
$next-el-margin-top: (
	h1: 2rem,
	h2: 2rem,
	h3: 2rem,
	h4: 2rem,
	h5: 1.5rem,
	h6: 1.5rem,
    p: 1.5rem,
    ol: 1.5rem,
    ul: 1.5rem
);

// creates the selector "* + <element>"
$following-el-margin-top: (
    h1: 3rem,
    h2: 3rem,
    h3: 3rem,
    h4: 3rem,
    h5: 3rem,
    h6: 3rem
);


/*************************************
Blocks
*************************************/
$block-padding: (
    small: (
        top: 4.25rem,
        bottom: 4.25rem,
        left: 0,
        right: 0,
    ),
    medium: (
        top: 6.25rem,
        bottom: 6.25rem,
        left: 0,
        right: 0,
    ),
    large: (
        top: 6.25rem,
        bottom: 6.25rem,
        left: 0,
        right: 0,
    ),
);
