:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin-top: $header-height-sm;

	@include media-min($medium) {
		margin-top: $header-height-md;
	}

	@include media-min($large) {
		margin-top: $header-height-lg;
	}

	&.expand-main-content,
	&.expand-footer {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - #{$header-height-sm});

		@include media-min($medium) {
			min-height: calc(100vh - #{$header-height-md});
		}

		@include media-min($large) {
			min-height: calc(100vh - #{$header-height-lg});
		}
	}

	&.expand-main-content .main-content {
		flex-grow: 1;
	}

	&.expand-footer .site-footer {
		flex-grow: 1;
	}
}

// Apple believes it has the authority to adjust font sizes it deems as "too small"
// on iOS. This removes that hostile behavior.
@media screen and (max-device-width: $medium) {
	body {
		-webkit-text-size-adjust: 100%;
	}
}

ul {
	padding: 0;

	nav & {
		list-style: none;
		list-style-position: inside;
	}
}

table {
	thead {
		tr {
			th {
				border-bottom: 1px solid $color-gray;
				padding: 0.5rem;
				text-align: left;
			}
		}
	}

	tbody {
		tr {
			td {
				border-bottom: 1px solid $color-gray;
				padding: 0.5rem;
				text-align: left;
			}
		}
	}
}

blockquote {
	margin: 2rem 1rem;

	&::before {
		content: "\201C";
	}

	&::after {
		content: "\201D";
	}

	p {
		font: inherit;
		display: inline;
		color: inherit;
	}
}

code {
	background: $color-black;
	color: $color-white;
	padding: 0.1rem 0.25rem;
}

strong {
	font-weight: $font-weight-semibold;
}

video,
iframe {
	max-width: 100%;
}

.row {
	padding-left: map-get($row-padding, "small");
	padding-right: map-get($row-padding, "small");

	@include media-min($medium) {
		padding-left: map-get($row-padding, "medium");
		padding-right: map-get($row-padding, "medium");
	}

	@include media-min($large) {
		padding-left: map-get($row-padding, "large");
		padding-right: map-get($row-padding, "large");
	}

	@include media-min($global-width + 80px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.faux-row {
	width: 100%;
	max-width: $global-width;
	margin-left: auto;
	margin-right: auto;

	padding-left: #{map-get($row-padding, "small") +
		(rem-calc(map-get($grid-column-gutter, "small")) / 2)};
	padding-right: #{map-get($row-padding, "small") +
		(rem-calc(map-get($grid-column-gutter, "small")) / 2)};

	@include media-min($medium) {
		padding-left: #{map-get($row-padding, "medium") +
			(rem-calc(map-get($grid-column-gutter, "medium")) / 2)};
		padding-right: #{map-get($row-padding, "medium") +
			(rem-calc(map-get($grid-column-gutter, "medium")) / 2)};
	}

	@include media-min($large) {
		padding-left: #{map-get($row-padding, "large") +
			(rem-calc(map-get($grid-column-gutter, "large")) / 2)};
		padding-right: #{map-get($row-padding, "large") +
			(rem-calc(map-get($grid-column-gutter, "large")) / 2)};
	}

	@include media-min($global-width + 80px) {
		padding-left: rem-calc(map-get($grid-column-gutter, "large")) / 2;
		padding-right: rem-calc(map-get($grid-column-gutter, "large")) / 2;
	}
}
