/*************************************
Foundation Variables
-- Foundation variables reference: https://github.com/zurb/foundation-sites/blob/develop/scss/settings/_settings.scss
-- local reference can be found at: node_modules/foundation-sites/scss/settings/_settings.scss
**************************************/
$global-width: 1160px;

// create our own breakpoint variables
$medium: 641px;
$large: 1025px;
$xlarge: 1441px;
$xxlarge: 1921px;

// override default foundation breakpoints
$breakpoints: (
	small: 0,
	medium: $medium,
	large: $large,
	xlarge: $xlarge,
	xxlarge: $xxlarge
);

// override default foundation gutter widths
$grid-column-gutter: (
	small: 3rem,
	medium: 4rem,
	large: 4rem
);

// row padding
$row-padding: (
	small: 0,
	medium: 1rem,
	large: 3rem
);

// header height by viewport
$header-height-sm: 60px;
$header-height-md: 70px;
$header-height-lg: 80px;

/*************************************
z-index
**************************************/
$z-root: 0;
$z-header: $z-root + 10;
$z-above-all: $z-header + 10;

/*************************************
default variables
**************************************/
$default-border-radius: 6px;
$default-input-border-radius: 20px;
$default-input-min-height: 40px;
$default-transition-speed: 0.2s;
$default-transition-easing: ease-in-out;
$default-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);

$theme-url-base: "../..";

/*************************************
Colors
**************************************/
$color-black: #000;
$color-blue: #145ca1;
$color-red: #98143c;
$color-gray: #d4d7da;
$color-white: #fff;

$text-light: $color-white;
$text-dark: $color-black;

$error-text: $color-red;

$bg-colors: (
	white: $color-white,
	black: $color-black,
	blue: $color-blue,
	gray: $color-gray
);

$bg-colors: (
	white: (
		background: $color-white,
		text: $text-dark,
		elements: (
			h1: $text-dark,
			h2: $text-dark,
			h3: $text-dark,
			h4: $text-dark,
			h5: $text-dark,
			h6: $text-dark
		)
	),
	black: (
		is_dark_bg: true,
		background: $color-black,
		text: $text-light,
		anchor_normal: $text-light,
		anchor_hover: $text-light,
		elements: (
			h1: $text-light,
			h2: $text-light,
			h3: $text-light,
			h4: $text-light,
			h5: $text-light,
			h6: $text-light
		)
	),
	blue: (
		is_dark_bg: true,
		background: $color-blue,
		text: $text-light,
		anchor_normal: $text-light,
		anchor_hover: $text-light,
		elements: (
			h1: $text-light,
			h2: $text-light,
			h3: $text-light,
			h4: $text-light,
			h5: $text-light,
			h6: $text-light
		)
	),
	gray: (
		background: $color-gray,
		text: $text-dark,
		elements: (
			h1: $text-dark,
			h2: $text-dark,
			h3: $text-dark,
			h4: $text-dark,
			h5: $text-dark,
			h6: $text-dark
		)
	)
);

$bg-colors-with-light-text-classes: (
	".block-bg-image",
	".block-bg-video",
	".bg-black",
	".bg-blue",
	".bg-red"
);

$color-twitter: #79ccf0;
$color-facebook: #547bbd;
$color-linkedin: #1385c8;

/*************************************
Typography
**************************************/
$font-arial: Arial, sans-serif;
$font-primary: $font-arial;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$body-font-size: 1.6rem;
$body-font-line-height: 1.5;
$body-font: normal normal $font-weight-regular #{$body-font-size} / #{$body-font-line-height}
	$font-primary;
$body-font-color: $text-dark;

/*************************************
Spacing
*************************************/
// creates the selector "<element> + *"
$next-el-margin-top: (
	h1: 2rem,
	h2: 2rem,
	h3: 2rem,
	h4: 2rem,
	h5: 1.5rem,
	h6: 1.5rem,
	p: 1.5rem,
	ol: 1.5rem,
	ul: 1.5rem
);

// creates the selector "* + <element>"
$following-el-margin-top: (
	h1: 3rem,
	h2: 3rem,
	h3: 3rem,
	h4: 3rem,
	h5: 3rem,
	h6: 3rem
);

/*************************************
Blocks
*************************************/
$block-padding: (
	small: (
		top: 4.25rem,
		bottom: 4.25rem,
		left: 0,
		right: 0
	),
	medium: (
		top: 6.25rem,
		bottom: 6.25rem,
		left: 0,
		right: 0
	),
	large: (
		top: 6.25rem,
		bottom: 6.25rem,
		left: 0,
		right: 0
	)
);
