.wysiwyg {
	a:not(.button) {
		text-decoration: none;
		font-weight: $font-weight-semibold;
		transition: color $default-transition-speed ease-in-out;

		&:hover,
		&:active {
			text-decoration: underline;
		}
	}

	ul,
	ol {
		padding-left: 0;

		li {
			margin: 0 0 0.5rem 1.5rem;

			ul,
			ol {
				margin-top: 0.5rem;
			}

			li {
				margin-left: 1.5rem;
			}
		}
	}
}

@include dark-bg('', '') {
	&.wysiwyg,
	.wysiwyg {
		a:not(.button) {
			color: $text-light;
		}
	}
}
