.button,
button:not(.ignore-default-styling):not(.hellobar__close):not(.gm-control-active),
.wysiwyg button,
input[type=submit],
.mce-button-primary,
%button {
	transition: all $default-transition-speed ease-in-out;
	appearance: none;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	outline: none;
	text-align: center;
	text-decoration: none;
	margin: 0;
	color: $white;
    background-color: $black;
    border: 2px solid $black;
    border-radius: $default-input-border-radius;
	box-shadow: $default-box-shadow;
    font: normal normal $font-weight-bold #{$body-font-size} / 1 $font-primary;
    padding: 1rem 1.2rem;
    text-transform: uppercase;
    min-width: 160px;
	min-height: $default-input-min-height;

	@include dark-bg() {
		background-color: $white;
		border-color: $white;
		color: $black;
	}
	
	&:hover,
	&:active,
	&.active {
		color: $white;
        background-color: $red;
		border-color: $red;
		text-decoration: none;
	}

	&:disabled,
	&.disabled {
		pointer-events: none;
		cursor: not-allowed;
		color: rgba($white, 0.7);
        background-color: rgba($black, 0.4);
		border-color: transparent;
		
		.bg-black & {
			background-color: rgba($white, 0.4);
			color: rgba($black, 0.7);
		}
	}

	&.button--secondary {
		color: $black;
        background-color: transparent;
		border: 2px solid $black;

		@include dark-bg() {
			color: $white;
			border-color: $white;
		}
		
		&:hover,
		&:active,
		&.active {
			color: $white;
            background-color: $red;
            border-color: $red;
		}

		&:disabled,
		&.disabled {
			color: rgba($black, 0.4);
            background-color: transparent;
			border-color: rgba($black, 0.4);

			@include dark-bg() {
				color: rgba($white, 0.4);
				border-color: rgba($white, 0.4);
			}
		}
	}
}
