.button,
.wysiwyg button,
input[type=submit],
.mce-button-primary,
%button {
	position: relative;
	display: inline-block;

	margin: 0;
	padding: 0.8rem 1.5rem 0.8rem;
    min-width: 160px;
	min-height: $default-input-min-height;
    border: 2px solid $blue;

	font: normal normal $font-weight-bold #{$body-font-size} / 1.45 $font-primary;
	text-align: center;
	text-decoration: none;
    text-transform: uppercase;

	color: $white;
    background-color: $blue;
	box-shadow: $default-box-shadow;

	appearance: none;
	outline: none;
	cursor: pointer;
	transition: all $default-transition-speed ease-in-out;

	@include dark-bg() {
		background-color: $white;
		border-color: $white;
		color: $black;
	}

	&:hover,
	&:active,
	&.active {
		color: $white;
        background-color: darken($blue, 10%);
		border-color: darken($blue, 10%);
		text-decoration: none;
	}

	&:disabled,
	&.disabled {
		pointer-events: none;
		cursor: not-allowed;
		color: rgba($white, 0.7);
        background-color: rgba($black, 0.4);
		border-color: transparent;

		.bg-black & {
			background-color: rgba($white, 0.4);
			color: rgba($black, 0.7);
		}
	}

	&.button--secondary {
		color: $black;
        background-color: transparent;
		border: 2px solid $black;

		@include dark-bg() {
			color: $white;
			border-color: $white;
		}

		&:hover,
		&:active,
		&.active {
			color: $white;
            background-color: darken($blue, 10%);
            border-color: darken($blue, 10%);
		}

		&:disabled,
		&.disabled {
			color: rgba($black, 0.4);
            background-color: transparent;
			border-color: rgba($black, 0.4);

			@include dark-bg() {
				color: rgba($white, 0.4);
				border-color: rgba($white, 0.4);
			}
		}
	}
}

.button {
	&--has-icon {
		min-width: 0;
		padding-left: 5.5rem;
	}

	&__icon-container {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: -2px;
		bottom: -2px;
		left: -2px;
		width: $default-input-min-height;

		background: $black;
		color: $white;
	}

	&__icon {
		width: #{$default-input-min-height / 3};
		height: #{$default-input-min-height / 3};
		color: $white;
	}

	&--slim {
		min-width: 125px;
		min-height: 0;
		padding: 0.4rem 1.5rem;
	}
}
