@mixin object-fit-polyfill($object-fit, $object-position: '') {
	@if $object-position != '' {
		object-fit: #{$object-fit};
		object-position: #{$object-position};
		font-family: 'object-fit: #{$object-fit}; object-position: #{$object-position};';
	} @else {
		object-fit: #{$object-fit};
		font-family: 'object-fit: #{$object-fit}';
	}
}

@mixin classes-from-list($list, $prepend: '', $append: '') {
	#{generate-selector-string($list, $prepend, $append)} {
		@content;
	}
}

@mixin dark-bg($prepend: '', $append: ' &') {
	@include classes-from-list($bg-colors-with-light-text-classes, $prepend, $append) {
		@content;
	}
}

@mixin stacked-column-spacing($spacing-small: 6rem, $spacing-medium: 6rem, $spacing-large: 6rem) {
	.columns.small-12 + .columns {
		margin-top: $spacing-small;
	}

	@include media-min($medium) {
		.columns.small-12 + .columns {
			margin-top: 0;
		}

		.columns.medium-12 + .columns {
			margin-top: $spacing-medium;
		}
	}

	@include media-min($large) {
		.columns.medium-12 + .columns {
			margin-top: 0;
		}

		.columns.large-12 + .columns {
			margin-top: $spacing-large;
		}
	}
}

@mixin size($size) {
	width: $size;
	height: $size;
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
	position: absolute;
	top: $top;
	right: $right;
	left: $left;
	bottom: $bottom;
	margin: auto;
}

@mixin fixed($top: 0, $right: 0, $bottom: 0, $left: 0) {
	position: fixed;
	top: $top;
	right: $right;
	left: $left;
	bottom: $bottom;
}

@mixin media($args...) {
	$media-type: 'only screen';
	$media-type-key: 'media-type';
	$args: keywords($args);
	$expr: '';

	@if map-has-key($args, $media-type-key) {
		$media-type: map-get($args, $media-type-key);
		$args: map-remove($args, $media-type-key);
	}

	@each $key, $value in $args {
		@if $value {
			$expr: "#{$expr} and (#{$key}: #{$value})";
		}
	}

	@media #{$media-type} #{$expr} {
		@content;
	}
}

@mixin media-max($max) {
	@include media($max-width: ($max - 1)) {
		@content;
	}
}

@mixin media-min($min) {
	@include media($min-width: $min) {
		@content;
	}
}
