/**
 *	Set base font size to 10px
 *	This makes calculating rem values very easy
 *	Just divide your pixel value by 10
 *	Need an rem value that matches 13px? 1.3rem
 *	Need an rem value that matches 27px? 2.7rem
 */
:root {
	font-size: 10px;
}

/**
 *	Reset element margins
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
	margin: 0;
}

@each $el, $margin-top in $next-el-margin-top {
	#{$el} + * {
		margin-top: $margin-top;
	}
}

@each $el, $margin-top in $following-el-margin-top {
	* + #{$el} {
		margin-top: $margin-top;
	}
}

/*
 *	Global element styling
 */
body {
	font: $body-font;
	color: $body-font-color;
}

p {
	font: $body-font;
	color: $body-font-color;
}

blockquote {
	font: $body-font;
    color: $body-font-color;
}

h1,
%h1 {
	font: normal normal $font-weight-bold 3.6rem / 1.21 $font-primary;
	color: $black;
	text-transform: uppercase;

	@include media-min($large) {
		font-size: 4.8rem;
	}
}

h2,
%h2 {
	font: normal normal $font-weight-bold 3.6rem / 1.22 $font-primary;
	color: $black;
    text-transform: uppercase;
}

h3,
%h3 {
	font: normal normal $font-weight-medium 2.6rem / 1.25 $font-primary;
    color: $black;
}

h4,
%h4 {
	font: normal normal $font-weight-medium 1.8rem / 1.44 $font-primary;
	color: $black;
}

h5,
%h5 {
	font: normal normal $font-weight-medium 1.6rem / 1.5 $font-primary;
    color: $black;
}

h6,
%h6 {
	font: normal normal $font-weight-medium 1.2rem / 1.66 $font-primary;
	color: $black;
}

/**
 *	Text size modifiers - usually used with paragaph elements
 */
.large,
%large-text {
	font-size: #{$body-font-size + 0.2rem};
}

small,
.small,
%small-text {
	font-size: #{$body-font-size - 0.2rem};
}
