$form-disabled-opacity: 0.4;

$input-border: 2px solid $color-gray;
$input-text-color: $body-font-color;

$input-checkbox-radio-size: 16px;
$input-checked-fill-color: $color-black;

label {
	font: $body-font;
	color: $color-black;
}

$input-style-selectors: (
	'input[type="text"]',
	'input[type="number"]',
	'input[type="tel"]',
	'input[type="url"]',
	'input[type="email"]',
	'input[type="password"]',
	"textarea",
	"select"
);

%default-input-styles {
	transition: all $default-transition-speed ease-out;
	appearance: none;
	border-radius: $default-input-border-radius;
	border: $input-border;
	padding: 8px 20px 8px 18px;
	background-color: $color-white;
	min-height: 36px;
	font: $body-font;
	color: $input-text-color;
	display: block;
	width: 100%;

	&::placeholder {
		color: $color-gray;
	}

	@include media-min($medium) {
		display: inline-block;
		width: auto;
		padding: 10px 20px 12px 18px;
		min-height: $default-input-min-height;
	}

	@include media-min($large) {
		padding: 0.8rem 2rem;
		min-height: $default-input-min-height;
	}

	&:focus {
		border-radius: $default-input-border-radius;
		border: 2px solid $color-black;
		color: $body-font-color;
	}

	&:disabled {
		opacity: $form-disabled-opacity;
	}
}

@include classes-from-list($input-style-selectors) {
	@extend %default-input-styles;
}

input[type="text"],
input[type="email"] {
	&.arrow-right {
		background-image: url("#{$theme-url-base}/media/images/arrow-right.png");
		background-repeat: no-repeat;
		background-position: calc(100% - 15px) 50%;
		padding-right: 35px;
	}
}

select,
select:focus {
	background-image: url("#{$theme-url-base}/media/images/arrow-down.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 50%;
	padding-right: 35px;
	color: $text-dark;

	&:disabled {
		opacity: $form-disabled-opacity;
	}

	&[multiple] {
		background-image: none;
	}
}

select::-ms-expand {
	display: none;
}

select option {
	color: $text-dark;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;

	+ label {
		cursor: pointer;
		position: relative;
		padding-left: 25px;
		display: inline-block;
		line-height: 1.2;

		&::before,
		&::after {
			content: "";
			position: absolute;
		}

		&::before {
			width: $input-checkbox-radio-size;
			height: $input-checkbox-radio-size;
			// border: 1px solid $color-gray;
			border: $input-border;
			background: transparent;
		}

		&::after {
			opacity: 0;
			transition: opacity $default-transition-speed ease-in;
		}

		+ input[type="checkbox"],
		+ input[type="radio"] {
			+ label {
				margin-left: 2rem;
			}
		}
	}

	&:checked + label {
		&::after {
			opacity: 1;
		}
	}

	&:disabled + label {
		opacity: $form-disabled-opacity;
	}
}

input[type="checkbox"] {
	+ label {
		&::before {
			transform: translateY(-50%);
			top: 50%;
			left: 0;
			border-radius: 3px;
		}

		&::after {
			transform: translateY(-50%);
			top: 50%;
			left: 3px;
			// width: #{$input-checkbox-radio-size - 8px};
			width: 10px;
			// height: #{$input-checkbox-radio-size - 8px};
			height: 8px;
			// background: $input-checked-fill-color;
			background-image: url("#{$theme-url-base}/media/images/check-blue.png");
		}
	}
}

input[type="radio"] {
	+ label {
		&::before {
			transform: translateY(-50%);
			top: 50%;
			left: 0;

			border-radius: 100%;
		}

		&::after {
			transform: translateY(-50%);
			top: 50%;
			left: 5px;
			width: #{$input-checkbox-radio-size - 10px};
			height: #{$input-checkbox-radio-size - 10px};
			border-radius: 100%;
			background: $input-checked-fill-color;
		}
	}
}

@include dark-bg("", "") {
	@include classes-from-list($input-style-selectors) {
		border-color: $color-white;
		background-color: $color-white;
		color: $input-text-color;
	}

	input[type="checkbox"] {
		+ label {
			&::after {
				background-image: url("#{$theme-url-base}/media/images/check-white.png");
			}
		}
	}

	input[type="radio"] {
		+ label {
			&::after {
				background: $color-white;
			}
		}
	}
}
