.card-blog {
	display: block;
	background: $color-gray;
	text-decoration: none;

	&__image-container {
		position: relative;
		height: 0;
		padding-top: 62.5%; // 16x10 ratio
	}

	&__content-container {
		padding: 2rem;
	}

	&__image {
		@include image-cover-entire-container;
	}

	&__title {
		margin-top: 0;
	}

	&__content {
		color: $text-dark;
	}
}
