.style-testing {
	& > .row {
		margin-top: 4rem;
	}

	&__icon-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;

		@include media-min($medium) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media-min($large) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__icon-row {
		display: flex;
		align-items: center;
	}

	&__icon {
		width: 48px;
		height: 48px;
	}

	&__icon-name {
		margin-left: 1rem;
	}
}
